
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
// @import "variables";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#app{
    .remarks-wrapper{
        max-height:75vh;
        overflow-y:auto;
    }
    .remark-counts-wrapper{
        max-height: 31.5vh;
        overflow-y: auto;
    }
}
.margin{
    &-top--10{
        margin-top:10px;
    }
}